@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Navbar */

.navbar{
    box-shadow: 2px 10px 53px -6px rgba(0,0,0,0.16);
    -webkit-box-shadow: 2px 10px 53px -6px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 10px 53px -6px rgba(0,0,0,0.16); padding-bottom: 2px;
}

#logo-navbar{
    width: 35px;
}   

#cor-texto-logo-navbar{
    color: #3498db;
}

/* Footer */

#rodape{
    background-color:#BDC3C7; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    padding-bottom:5rem
}

#conteudo-rodape{
    margin-top:5rem;
    text-align:center"
}

#linha-rodape{
    background-color:#fff
}

#div-logo-lmts{
    text-align:center; 
    margin-bottom:2rem;
}

#div-label-lmts{
    margin-bottom: 10px;
     color:#fff;
}

#div-logo-ufape{
    text-align:center; 
    margin-bottom:2rem;
}

#div-label-ufape{
    color:#fff;
}

#div-conteudo-redes-sociais{
    text-align:center;
}

#div-label-redes-sociais{
    margin-bottom: 2rem; 
    color:#fff;
}

.imagens-redes-sociais{
    margin-left: 10px; 
    margin-right: 10px;
}

/* Conteudo-login */
.container-main{
    min-height: 640px;
    width: 100%;
    background-color: #ffffff;
}

/* Botão para cadastrar */
.cor-botao{
    background: #326d94;
}

#botao-cadastrar:hover{
    background-color: #326d94;
}